<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  
  <!-- Make it compatible to mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Faulty reviews prediction</title>
  
</head>

<body style="background: #000;">
 <div class="login">
	<h1 style="color:Violet;">Faulty reviews Prediction</h1>

     <!-- Action is where the data is sent. In our case, predict page.
     If action is omitted, it assumed to be the current page -->
    <form action="{{ url_for('predict')}}" method="post" enctype=multipart/form-data>
    	<input type="file" name="csv_file" placeholder="reviews csv file" required="required" /><br>
        
        <p>

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict faulty reviews</button></p>
    </form>

   <br>
   <br>
   <h4 style="color:Violet;">
   {{ prediction_text }} </h4>

 </div>


</body>
</html>
